body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #121212; /* Dark background */
    color: #c0c0c0; /* Light grey text for that cyberpunk neon effect */
}

#timer-display {
    font-size: 60px;
    margin-bottom: 20px;
    color: #0ff; /* Neon cyan for the timer */
    background-color: #1a1a1a; /* Slightly lighter dark background for contrast */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #0ff; /* Neon border */
    box-shadow: 0 0 15px #0ff; /* Neon glow */
}

input[type="number"] {
    padding: 10px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    background-color: #262626;
    color: #0ff;
    border: 1px solid #0ff;
}

#progress-bar {
    height: 20px;
    background-color: #4a4545; /* Default color */
    margin-bottom: 20px;
    border-radius: 5px;
    transform: scaleX(-1); /* Flip the progress bar */
}

button {
    background-color: #0ff; /* Neon turquoise */
    color: #121212;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 0 10px #0ff; /* Neon glow */
}

button:hover {
    background-color: #008699; /* Darker turquoise */
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
}

.logo {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0ff; /* Neon cyan */
    box-shadow: 0 0 10px #0ff; /* Neon glow */
}

.hands {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: #121212;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 2px;
    background-color: #121212;
    border-radius: 2px;
    transform-origin: bottom;
}

.hour {
    height: 20px;
    transform: rotate(30deg); /* example position */
}

.minute {
    height: 30px;
    transform: rotate(120deg); /* example position */
}